In [20]:
import pandas as pd
movie_info=pd.read_csv(r"C:\Users\ASUS\Desktop\Movie Interests.csv")
movie_info

    Age  Gender   Interest
0     8       1  Animation
1    11       1  Animation
2    12       1  Animation
3    16       1     Action
4    18       1     Action
5    19       1     Action
6    23       1      Drama
7    26       1      Drama
8    27       1      Drama
9     7       0  Animation
10    9       0  Animation
11   10       0  Animation
12   26       0     Action
13   27       0     Action
14   30       0     Action
15   31       0      Drama
16   34       0      Drama
17   35       0      Drama

In [21]:
input_dataset = movie_info.drop(columns=["Interest"])

In [28]:
#input_dataset
output_dataset = movie_info['Interest']

In [29]:
output_dataset

0     Animation
1     Animation
2     Animation
3        Action
4        Action
5        Action
6         Drama
7         Drama
8         Drama
9     Animation
10    Animation
11    Animation
12       Action
13       Action
14       Action
15        Drama
16        Drama
17        Drama
Name: Interest, dtype: object

In [31]:
from sklearn.tree import DecisionTreeClassifier
movie_model=DecisionTreeClassifier()
movie_model.fit(input_dataset,output_dataset)
movie_interest=movie_model.predict([[9,1],[33,0]])

C:\Users\ASUS\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [32]:
movie_interest

array(['Animation', 'Drama'], dtype=object)

In [35]:
import pickle
pickle.dump(movie_model,open('model.pkl','wb'))

model1=pickle.load(open('model.pkl','rb'))
print(model1.predict([[9,1],[33,0]])